<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>朴智妍</title>
</head>
<body>
<table align="center" border="1">
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>LOGINTIME</th>
        <th>PRI</th>
        <th>MAKE</th>
    </tr>
    <?php foreach($arr as $key=>$val){ ?>
        <tr>
            <td><?php echo $val['id']; ?></td>
            <td><?php echo Z($val['name']); ?></td>
            <td><?php echo Z($val['pwd']); ?></td>
            <td><?php echo $val['login_time']; ?></td>
            <td><?php echo $val['pri']; ?></td>
            <td>
                <a href="javascript:void(0);">DELETE</a>&nbsp;&nbsp;&nbsp;
                |&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0);">UPDATE</a>
            </td>
        </tr>
    <?php } ?>
</table>
<center><?php echo $page; ?></center>
</body>
</html>